<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <app-progresso></app-progresso>
      </div>
      <div class="col-4">
        <app-tentativas></app-tentativas>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4>Traduza a frase</h4>
      </div>
      <hr class="my-4">
      <div class="col-12">
        <div class="form-group">
          <label for="traducao">Frase</label>
          <textarea class="form-control" id="traducao" rows="3" name="traducao"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button type="button" class="btn btn-primary">Traduzir</button>
      </div>
    </div>
  </div>
</div>
